.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  animation: float 6s ease-in-out infinite, glow 2s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #e60073);
  }
  to {
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #e60073) drop-shadow(0 0 30px #e60073);
  }
}